* {
  box-sizing: border-box;
}

#header {
  position: relative;
  background-color: #121C1E;
  z-index: 10;
  color: #fff;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  height: 70px;
  margin: 0 auto;
}

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation a {
  position: relative;
  display: block;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  transition: .3s;
}

.navigation a {
  margin-right: 30px;
}

.navigation a:hover {
  color: #278D9F;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  height: 3px;
  background-color: #278D9F;
}

.navigation a:nth-child(3) {
  margin-right: 0;
}

.navigation a:nth-child(1) {
  width: 48px;
  height: 60px;
  background-image: url(/src/assets/svg/tree.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.navigation a:nth-child(1):hover {
  filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(
    141deg) brightness(89%) contrast(90%);
}











.input-search{
  display: flex;
  align-items: center;
}

#search{
  outline: 0;
  width: 380px;
  height: 40px;
  padding: 5px 25px;
  margin: 10px 30px 10px 0;
  border-radius: 20px;
  border: 1px solid #278D9F;
  color: #fff;
  font-size: 18px;
  background-color: rgba(31, 112, 127, .3);
  background-image: url(/src/assets/svg/search.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 330px center;
  backdrop-filter: blur(6px);
}

#select{
  width: 48px;
  height: 60px;
  background-image: url(/src/assets/svg/ball-2.svg);
  background-size: 48px 60px;
  background-position: left -8px;
  background-repeat: no-repeat;
  transition: .3s;
}

#select span {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 4px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  background-color: #278D9F;
}
