* {
  box-sizing: border-box;
}

.start-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page {
  min-width: 100%;
  min-height: calc(100vh - 140px);
  background-image: url(/src/assets/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.ball-first {
  width: 500px;
  height: 500px;
  left: calc(50% - 550px);
  top: 150px;
  background-image: url(/src/assets/ball/1.png);
}

.ball-first::before {
  top: -210px;
  left: calc(50% - 47px);
  height: 220px;
  width: 5px;
}

.ball-second {
  width: 300px;
  height: 300px;
  left: calc(50% + 150px);
  top: 150px;
  background-image: url(/src/assets/ball/2.png);
}

.ball-second::before {
  top: -205px;
  left: calc(50% - 32px);
  height: 210px;
  width: 5px;
}

.ball-first, .ball-second {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.ball-first::before, .ball-second::before {
  content: "";
  position: absolute;
  background-color: #aaa;
}

.start-page-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 600px;
  height: 250px;
  margin-bottom: 80px;
  margin-top: 220px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  border: 3px solid #278D9F;
  border-radius: 25px;
  background-color: rgba(31, 112, 127, .3);
  backdrop-filter: blur(6px);
  font-size: 48px;
}

.start-page-title span {
  width: 100%;
}

.switch-start-page {
  position: relative;
  width: 320px;
  height: 60px;
  border: 3px solid #278D9F;
  border-radius: 30px;
  background-color: rgba(31, 112, 127, .3);
  backdrop-filter: blur(6px);
  font-weight: 300;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  transition: .3s;
  overflow: hidden;
  outline: rgba(255, 255, 255, 0.5) solid 1px;
  outline-offset: 0;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
