* {
  box-sizing: border-box;
}

div {
  display: block;
}

.main-page {
  min-width: 100%;
  min-height: calc(100vh - 140px);
  background-image: url(/src/assets/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.main-wrapper{
  background: rgba(22, 41, 41, 0.5);
  backdrop-filter: blur(3px);
  height: 100%;
  min-height: calc(100vh - 140px);
  width: 100%;
}

.filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
  font-size: 20px;
  line-height: 40px;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 20px;
}

.box-filters, .box-range, .box-sort {
  width: 480px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(31, 112, 127, .3);
  backdrop-filter: blur(6px);
}

.box-range {
  width: 540px;
}

.controls-title {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
}

.shape, .color, .size {
  display: flex;
  align-items: center;
}

.shape button:nth-child(1) {
  background-image: url(/src/assets/svg/ball.svg);
  margin-left: 20px;
}

.shape button:nth-child(2) {
  background-image: url(/src/assets/svg/bell.svg);
  margin-left: 20px;
}

.shape button:nth-child(3) {
  background-image: url(/src/assets/svg/cone.svg);
  margin-left: 20px;
}

.shape button:nth-child(4) {
  background-image: url(/src/assets/svg/snowflake.svg);
  margin-left: 20px;
}

.shape button:nth-child(5) {
  background-image: url(/src/assets/svg/toy.svg);
  margin-left: 20px;
}

.shape .active {
  filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(
    322deg) brightness(83%) contrast(88%);
}

.shape button {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 10px 7px;
  border: 0;
  outline: 0;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: .3s;
}

.color button {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 15px 10px;
  border: 1px solid #278D9F;
  border-radius: 5px;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  transition: .3s;
}

.color button:nth-child(1) {
  background-color: #fff;
  margin-left: 20px;
}

.color button:nth-child(2) {
  background-color: #FDD700;
}


.color button:nth-child(3) {
  background-color: #FD0000;
}

.color button:nth-child(4) {
  background-color: #2199EB;
}

.color button:nth-child(5) {
  background-color: #08AA05;
}

.color .active::after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.size button {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 5px 5px;
  border: 0;
  outline: 0;
  background-image: url(/src/assets/svg/ball.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: .3s;
}

.size button:nth-child(1) {
  margin-left: 20px;
}

.size button:nth-child(2) {
  background-size: 40px 40px;
}

.size button:nth-child(3) {
  background-size: 32px 32px;
  margin-left: 0;
}

.size button.active {
  filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
}


.favorite-container, .form-group {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 0;
}

.favorite-input {
  width: initial;
  height: initial;
  display: none;
}

.favorite-input-label {
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
  backdrop-filter: blur(6px);
  border: 1px solid #278D9F;
  border-radius: 5px;
  padding: 0;
  margin: 0 0 0 20px;
  cursor: pointer;
  transition: .5s;
}

.favorite-input:checked + .favorite-input-label::after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.favorite-input:checked + .favorite-input-label {
  background-color: #278D9F;
  border-color: #278D9F;
}

.sort-select {
  appearance: none;
  outline: 0;
  font: inherit;
  width: 380px;
  height: 40px;
  padding: 5px 25px;
  margin: 10px 0 125px;
  background-color: rgba(31, 112, 127, .3);
  background-image: url(/src/assets/svg/arrow-down.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 340px center;
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid #278D9F;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  cursor: pointer;
}

.sort-select option {
  color: inherit;
  background-color: #183E42;
}

.reset {
  width: 250px;
  height: 40px;
  margin: 10px 0;
  border-radius: 20px;
  border: 1px solid #278D9F;
  background-color: rgba(31, 112, 127, .3);
  backdrop-filter: blur(6px);
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.count-slider-container {
  margin-bottom: 35px;
}

.container-for-filters, .count-slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

output {
  margin: 10px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 40px;
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid #278D9F;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.toys {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 304px;
  height: 280px;
  padding: 0 0 0 10px;
  border-radius: 10px;
  border: 1px solid #278D9F;
  background-color: rgba(31, 112, 127, .3);
  backdrop-filter: blur(6px);
  cursor: pointer;
}

.toys-title {
  width: 100%;
  font-size: 20px;
  font-stretch: condensed;
  padding-left: 10px;
}

.toys-img {
  width: 90px;
  height: 112px;
  object-fit: contain;
  pointer-events: none;
}

.toys-description {
  width: 195px;
  margin-top: -20px;
  padding-left: 10px;
  pointer-events: none;
  line-height: 1;
  user-select: none;
}

.toys-description p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.shape, .color, .size {
  display: flex;
  align-items: center;
}

.card-description p span {
  padding-left: 7px;
}

.ribbon {
  position: absolute;
  top: 210px;
  width: 80px;
  height: 40px;
  background: #24C5DB;
  left: -8px;
}

.ribbon:before {
  border-bottom: 8px solid #14455b;
  border-left: 8px solid transparent;
  top: -8px;
}

.ribbon:after {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 15px solid #24C5DB;
  right: -15px;
}

.ribbon::before, .ribbon::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
}

.active .ribbon {
  background: #CBB77A;
}

.cards .active .ribbon:after {
  border-left: 15px solid #CBB77A;
}
